.vertical-layout {
    .main-menu {
        width: $v-sidebar-width;
        z-index: 1031;
        height: 100%;
        overflow: hidden;
        position: fixed;
        background-color: $v-sidebar-bg-color;
        box-shadow: $v-sidebar-box-shadow;
        margin: $v-sidebar-margin;
        padding-top: 0px;

        a {
            outline: none;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .navigation {
            padding: 1.5rem;
            padding-top: 0rem;
            overflow-x: hidden;
            font-size: 1.1rem;
            font-weight: 400;
            overflow-y: hidden;

            .navigation-header {
                padding: 0;
                margin: 1.5rem 0 0.8rem 0.3rem;
                line-height: 1.5;
                font-size: 0.9rem;
                text-transform: uppercase;
                letter-spacing: 0.01rem;
                span {
                    font-size: 0.8rem;
                    color: $v-sidebar-navigation-header-color;
                }
            }
            .active.link {
                a {
                    border-radius: 4px;
                    background: $v-sidebar-navigation-header-active-bg-color;
                    color: $v-sidebar-navigation-header-active-color;
                }
            }

            & > li > a {
                font-size: 1.3rem;

                svg,
                i {
                    height: 1.15rem !important;
                    width: 1.15rem !important;
                    margin-right: 1rem !important;
                }
            }

            li {
                position: relative;
                white-space: nowrap;
                margin: 6px 0px;

                a {
                    padding: 5px 15px;
                    line-height: 1.5;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    > * {
                        transition: transform 0.35s ease;
                    }

                    svg,
                    i {
                        margin-right: 1.3rem;
                        height: 0.8rem;
                        width: 0.8rem;
                        flex-shrink: 0;
                        transition: transform 0.25s ease;
                    }
                    color: $v-sidebar-navigation-item-color;
                }

                a:hover > * {
                    transition: transform 0.35s ease;
                    transform: translateX(6px);
                }

                > a {
                    margin: 0px !important;
                }
            }

            li.group {
                &.open > a {
                    background-color: $v-sidenav-navigation-group-open-bg-color;
                    border-radius: 3px;
                }

                ul li a {
                    padding-top: 6px;
                    padding-bottom: 6px;
                }
            }

            li.open > a {
                border-radius: 6px;
            }

            // .menu-content {
            //     li.group > a {
            //         font-size: 1.25rem;
            //         svg,
            //         i {
            //             margin-right: 1.2rem;
            //             height: 15px;
            //             width: 15px;
            //         }
            //     }

            //     > li {
            //         > a {
            //             svg,
            //             i {
            //                 margin-right: 1.45rem;
            //                 height: 11px;
            //                 width: 11px;
            //             }
            //         }
            //     }
            // }
        }
    }

    // .menu-content {
    //     li {
    //         a {
    //             font-size: 1.2rem;
    //             margin: 0 19px !important;
    //         }
    //     }
    // }

    &.vertical-menu-modern {
        .main-menu {
            transform: translate3d(0, 0, 0);
        }
    }

    &.vertical-overlay-menu {
        .main-menu {
            left: -$v-sidebar-width;
        }
    }

    &.vertical-overlay-menu.menu-open {
        .main-menu {
            transform: translate3d($v-sidebar-width, 0, 0);
            opacity: 1;
            transition: width 0.25s, opacity 0.65s, transform 0.35s;
        }
    }

    &.vertical-overlay-menu.menu-hide {
        .main-menu {
            opacity: 0;
            transition: width 0.25s, opacity 0.65s, transform 0.35s;
        }
    }

    .sidenav-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 120vh;
        z-index: 997;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        background-color: $v-sidenav-overlay-bg-color;
    }

    .sidenav-overlay.show {
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease;
    }
}
