.media.icon-card {
    padding: 6px 10px;
    border-radius: 3px;
    .media-aside {
        border-radius: 5px;
        svg{
            width: 25px;
            height: 25px;
        }
    }

    
    border: 1px solid #b0b0b0;
    background-color: #fafafa;

    .badge {
        cursor: pointer;
        font-size: 0.75rem;
    }
 
    &.icon-card-primary{
        color: $purple;
        background-color: #f2f0ff;
        border: 1px solid $purple;
    }

    &.icon-card-success{
        color: $success;
        border: 1px solid $success;
        background-color: #f7fff2;
    }

    &.icon-card-warning{
        color: $warning;
        border: 1px solid $warning;
    }

    &.icon-card-danger{
        color: $danger;
        border: 1px solid $danger;
        background-color: #fffafa;
    }
}
